.navbar {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-links {
  display: flex;
  gap: 40px;
  flex: 1;                
  justify-content: center;
}

.nav-links a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255);
  transition: color 0.2s ease;
}


.active {
  font-weight: 600;
}