<mat-toolbar color="primary" class="navbar">
    
  <span class="logo">ProjectManager</span>

  <div class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active">Dashboard</a>
      <a mat-button routerLink="/projects" routerLinkActive="active">Projects</a>
      <a mat-button routerLink="/tasks" routerLinkActive="active">Tasks</a>
      <a *ngIf="isAdmin" mat-button routerLink="/users" routerLinkActive="active">Users</a>
    </div>
  <button mat-icon-button>
    <mat-icon routerLink="/login">account_circle </mat-icon>
  </button>
</mat-toolbar>