.navbar {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-links {
  display: flex;
  gap: 40px;
  flex: 1;                
  justify-content: center;
}

.nav-links a{
   font-size: 17px; 
}

.active {
  font-weight: 600;
}