<table mat-table [dataSource]="projects()" class="tasks-table" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let item">
      <a class="task-link">{{ item.name }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let item">
      <span class="status-pill">{{ item.status || 'undefined' }}</span>
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onProjectClick(row.id)"></tr>

</table>