<h2 mat-dialog-title>Edit task</h2>
<div>

</div>


<form [formGroup]="form" (ngSubmit)="updateTask()" mat-dialog-content class="dialog-content">

    <mat-form-field appearance="outline">
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let s of statuses" [value]="s">
                {{s}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Assignee</mat-label>
        <mat-select formControlName="assigneeId">
            <mat-option *ngFor="let pm of projectMembers()" [value]="pm.id">
                {{pm.userEmail}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div mat-dialog-actions="end">
        <button mat-raised-button color="primary" type="submit" class="add-task-btn">
            Update task
        </button>
    </div>
</form>