@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap");


header {
  text-align: center;
}

 html {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;

  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  height: 100%;
} 
